*{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px auto;
}

a{
	text-decoration:none;
	color: black;
}

.clearfix{
	clear: both;
}

hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(218, 218, 218, 0.4);
    padding: 0; 
}


/*---------------HEADER------------*/

header{
	width: 100%;
	height: 80px;
	top: 0px;
}

nav{
	width: 960px;
	padding: 25px 0px;
	margin: 0px auto;
}

nav div.web-title{
	font-size: 22px;
	float: left;
	font-family: "Arial Black", Gadget, sans-serif;
}

nav div.web-title a{
	color:#5a5a5a;
}


nav div.menu{
	float: left;
	margin-top:2px;
	margin-left: 30px;
	border-left: 1px solid #9a9a9a;
	height:30px;
}

nav div ul{
	list-style: none;
	margin-top:5px;
}

nav div ul li{
	display: inline;
	padding: 0px 0px 0px 30px;
}

nav div ul li a{
	color: #9a9a9a;
}

nav div ul li a:hover{
	color:#2068AB;
}


nav a.shopping-icon {
    background-color: white;
    color: #5a5a5a;
    height: 32px;
    line-height: 32px;
    border: 2px solid #5a5a5a;
    font-size: 20px;
    float: right;
    display: inline;
    margin-top: -10px;
    padding: 8px 22px;
    border-radius: 25px;
}

nav a.shopping-icon:hover{
	color: white;
    background-color: #5a5a5a;
}

div.container{
	background-color: #ECECEC;
	color:#ffffff;
	height: 400px;
	width: 100%;
}

div.container div.season{
	width: 75%;
	margin:auto;
	line-height:45px;
	padding-top: 120px;
}

div.container div.season h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
}

div.container div.season p{
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	word-spacing: 3px;
	letter-spacing: 5px;
}
	
div.container div.season button{
	border-style: none;
	margin-top: 30px;
}
div.container div.season a {
    color: #708C97;
    background-color: white;
    padding: 15px 40px;
	font-size: 20px;
	font-family: Gadget, sans-serif;
}

div.container div.season a:hover {
	background-color: #708C97;
    color: white;
}
/*-------------------main--------------------*/
	
	
main.container{
	width:960px;
	margin: 0px auto;
}

.products{ 
	width: 960px;
	
}

.products-value{
	width: 60%;
	margin: 0 auto;
}

.products-value h3 { 
	width:100%; 
    text-align:center;
    border-bottom: 1px solid #e7e7e7;   
	line-height:0em;
    margin:70px 0 50px;
	color: #676767;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	letter-spacing: 0px;
}
  
.products-value h3 span {
    background:#fff; 
    padding:0 15px; 
}

.products-body{
	width: 960px;
}
.card{
	width: 296px;
	height: 350px;
	border: 5px solid #F7F7F7;
	text-align: center;
	float: left;
	line-height: 30px;
}

#card2{
	margin-left: 20px;
}

#card3{
	margin-left: 20px;
}


.card img.product-image{
	width: 250px;
	
}

.card p.product-name a{
	font-family: Gadget, sans-serif;
	color: #708C97;
	
}

.card p.product-price{
	color: #708C97;
	font-family: 'Poppins', sans-serif;
}

.card p.product-price .main-price{
	margin-bottom:10px;
	font-size: 21px;
}

#products-value{
	margin-top: 100px;
}

/*--------------BRAND----------------*/



.brand{
	width: 960px;
	margin: 60px auto;
}

.brand .brand-item{
	border:5px solid #F7F7F7;
	width: 135px;
	height:90px;
	text-align: center;
	float: left;
	color: rgba(112, 140, 151, 0.3);
}

#brand-item-padding{
	margin-left:58px;
}

.brand .brand-item h3 a{
	color: rgba(112, 140, 151, 0.3);
	font-family: ;
	font-size: 22px;
	letter-spacing: 2px;
	
}

.brand .brand-item h3{
	padding-top: 25px;
	font-style: italic;
}

.brand .brand-item p{
	font-size: 10px;
	letter-spacing: 2px;
	padding-top: 0px;
	font-family: Gadget, sans-serif;
}



/*-----------------------FOOTER-----------------*/	
	
	
footer.container{
	background-color: #FBFBFB;
	width: 100%;
	position:absolute;
	
}

.footer-body{
    width: 960px;
    margin: auto;
}

/*----#### MAIN FOOTER ####----*/


.main-footer{
	width: 960px;
	margin: 70px auto;
}

.main-footer-item{
	width: 300px;
	float: left;
	
}

#main-footer-item-padding{
	padding-left: 30px;
}
	
.main-footer-item h3{
	color: #676767;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0px;
}

.main-footer-item  P{
	color: #708C97;
}
	
.main-footer-item .item-para{
	margin-top:30px;
	line-height: 25px;
	font-size:15px;
	letter-spacing: 1px;
}

.number{
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}

#number1{
	font-size: 19px;
	color: #676767;
}
	
	
/*  need icon style  */	



	
.main-footer-item p.item-para a{
	font-size: 18px;
}

.main-footer-item p.item-para a.padding{
	margin-left: 25px; 
}

.main-footer-item p.item-para a i:hover{
	color: blue;
}

/*----------------FOOTER BLOG POSTS-----------------*/
	
	
	
	
.blog-item{
	margin-top: 30px;
	line-height:19px;
	letter-spacing:0.2px;
}
	
.blog-header a{
	color: #676767;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}
	
.blog-header a:hover{
	color: #EE545E;
}
	
.blog-body{	
	font-size: 14px;
	margin-top: 5px;
	line-height: 17px;
	letter-spacing: 0.7px;
	font-family: 'Source Sans Pro', sans-serif;
}


/*------------SUPPORT------------*/


ul.option-divider{
	list-style: none;
	width: 140px;
	float: left;
	margin-top: 30px;
	line-height: 30px;
}

ul.option-divider#option-divider2{
	margin-left:20px;
}

.option-divider a{
	color: #708C97;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	font-size: 15px;
}
	
.option-divider a:hover{
	color: #EE545E;
}
	
	
	
/*---#### copyright FOOTER ####---*/	
	
	
.copyright-footer{
	margin: 20px 0px 60px;
	font-family: 'Source Sans Pro', sans-serif;
}


.copyright-footer-left{
	float: left;
	font-size: 15px;
	color: #708C97;
	letter-spacing: 0.5px;
}
	
.copyright-footer-left a{
	color: #676767;
	font-size: 16px;
}

.copyright-footer-right{
	float: right;
	margin-top:-5px;
}

.copyright-footer-right ul{
	list-style: none;
	
}

.copyright-footer-right ul li{
	display: inline;
	font-size:25px;
}
	
.copyright-footer-right ul li a{
	color: #708C97;
}

.copyright-footer-right ul li a:hover{
	color: #000000;
}
.copyright-footer-right ul li a.padding{
	margin-right:15px;
}







/*------------MEDIA QUARY--------------*/





@media (min-width:320px) and (max-width:479px){

	body{
		margin:0;
		padding:0;
		width: 100%;
	}
	
/*--------------HEADER------------*/
	
	header{
		height:110px;
	}
	
	nav {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	nav div.web-title {
		font-size: 25px;
		width:100%;
		text-align:center;
		margin: 20px 0px 5px 0px;
	}
	
	nav div.menu {
		float:left;
		margin: 0;
		width:78%;
		font-size: 14px;
		border-left:0;
		margin-left:5%;
	}
	
	nav div ul{
		margin-top:10px;
	}
	
	nav div ul li {
		padding: 0% 0% 0% 4.5%;
	}
	
	nav div ul li:first-child {
		padding: 0px 0px 0px 0px;
		
	}
	
	nav a.shopping-icon {
		border: 2px solid #5a5a5a;
		font-size: 15px;
		margin-top: 0px;
		padding: 0px 14px;
		border-radius: 25px;
		max-width:12%;
		margin-right: 1.73%;
	}
	
	
	/*-------------DIV-------------*/
	
	div.container div.season {
		width: 75%;
		line-height: 45px;
		padding-top: 80px;
	}
	
	div.container div.season h1 {
		font-size: 30px;
		letter-spacing: 1px;
	}
	
	div.container div.season p {
		font-size: 18px;
		word-spacing: 2px;
		letter-spacing: 0px;
}
	
	
/*---------------main--------------------*/
	
	main.container {
		width: 100%;
		
	}
	
	.products {
		width: 90%;
		margin: 0 auto;
	}
	
	.products-value {
		width: 100%;
	}
	
	.products-body {
		width: 100%;
		margin: 0 auto;
	}
	
	.card {
		width: 97.5%;
		margin: 0 auto;
	}
	#card2 {
		margin-left: 0px;
		margin-top: 30px;
	}
	#card3 {
		margin-left: 0px;
		margin-top: 30px;
	}
	
	.card img.product-image {
		width: 280px;
	}
	
	.brand {
		width: 100%;
		margin: 60px auto;
	}
	
	.brand {
		width: 90%;
	}
	
	.brand .brand-item {
		width: 41.6%;
	}
	
	
	#brand-item-padding {
		margin-left: 0px;
	}
	
	
	#brand-item-padding:nth-child(2){
		float: right;
	}
	
	#brand-item-padding:nth-child(3){
		margin-top: 30px;
	}
	
	#brand-item-padding:nth-child(4){
		float:right;
		margin-top: 30px;
	}
	
	
	#brand-item-padding:nth-child(5){
		margin-top: 30px;
	}


	
/*--------------FOOTER-----------*/
	
	
	.footer-body {
		width: 90%;
	}
	
	.main-footer {
		width: 100%;
	}
	
	.main-footer-item {
		width: 100%;
	}
	
	#main-footer-item-padding {
		padding-left: 0px;
		margin-top: 70px;
	}
	
	.main-footer-item .item-para {
		margin-top: 20px;
		line-height: 20px;
		font-size: 15px;
	}
	
	ul.option-divider {
		width: 45%;
		float: left;
		margin-top: 30px;
		line-height: 30px;
	}
	
	ul.option-divider#option-divider2 {
		margin-left: 10%;
	}
	
	.option-divider a {
		font-size: 17px;
	}
	

	
}









@media (min-width:480px) and (max-width:767px){


/*-------------HEADER------------*/



	header {
		height: 120px;
	}
	
	nav{
		width:100%;
	}

	nav div.web-title {
		width: 100%;
		text-align: center;
		font-size: 25px;
		margin: 0px 0px 5px 0px;
		padding-bottom: 10px;
	}

	nav div.menu {
		font-size: 16px;
		margin-left: 8%;
		border-left: 0px solid #000;
		font-size: 15px;
	}
	
	nav div ul li {
		padding: 0px 0px 0px 25px;
	}

	nav a.shopping-icon {
		border: 2px solid #5a5a5a;
		font-size: 18px;
		float: right;
		display: inline;
		margin-top: -4px;
		margin-right: 5%;
		padding: 0px 15px;
		border-radius: 25px;
	}
	
	



/*----------------DIV-------------*/
	
	
	
	div.container div.season {
		padding-top: 90px;
	}
	
	div.container div.season h1 {
		font-size: 35px;
		letter-spacing: 1.5px;
	}
	
	div.container div.season p {
		font-size: 20px;
		word-spacing: 0px;
		letter-spacing: 2px;
	}
	
	div.container div.season button {
		margin-top: 25px;
	}
	
	
	
	
/*---------------main---------------*/
	
	
	
	main.container{
		width: 100%;
	}
	
	.products{
		width: 90%;
		margin: 0 auto;
	}
	
	.products-value{
		width: 80%;
	}
	
	.products-body{
		width: 100%;
	}
	
	.card{
		width: 45%;
	}
	

	.card img.product-image {
		width: 195px;
	}
	
	#card2 {
		float:right;
	}
	
	#card3 {
		margin-left: 0;
		margin-top: 25px;
	}
	
	.brand{
		width: 90%;
	}
	
	.brand .brand-item{
		width: 28.00202465%;
	}
	
	#brand-item-padding {
		margin-left: 4.5319731235504%;
	}
	
	#brand-item-padding:nth-child(4) {
		margin-left: 0;
		margin-top: 20px;
	}
	
	#brand-item-padding:nth-child(5) {
		margin-top: 20px;
	}
	
	
	
/*-----------------FOOTER-------------*/
	
	
	
	.footer-body{
		width: 90%;
	}
	
	.main-footer {
		width: 100%;
	}
	
	
	.main-footer-item {
		width: 47.5%;
	}
	
	.main-footer-item h3 {
    font-size: 27px;
	}
	
	#main-footer-item-padding {
		padding-left: 5%;
	}
	
	.blog-body {
		font-size: 16px;
	}
	
	#main-footer-item-padding:nth-child(3) {
		padding-left: 0;
		padding-top: 30px;
		width:100%;
	}
	ul.option-divider {
		width: 45%;
	}
	
	
	


	
	
	
	
	
	
}










@media (min-width:768px) and (max-width:1040px){
	
	nav{
		width: 95%;
	}
	main.container {
		width: 100%;
	}
	.products {
		width: 95%;
		margin: auto;
	}
	.products-body {
		width: 100%;
	}
	.card {
		width: 29.965%;
	}
	.card img.product-image {
		width: 90%;
	}
	#card2 {
		margin-left: 3%;
	}
	#card3 {
		margin-left: 3%;
	}
	.brand {
		width: 95%;
	}
	.brand .brand-item {
		width: 16.23%;
	}
	#brand-item-padding {
		margin-left: 3%;
	}
	.footer-body {
		width: 100%;
	}
	.main-footer {
		width: 95%;
	}
	
	.main-footer-item {
		width: 50%;
	}
	
	#main-footer-item-padding {
		padding-left: 0%;
	}
	
	.main-footer-item h3 {
    font-size: 30px;
	}
	
	.main-footer-item .item-para {
    font-size: 20px;
	}
	
	.main-footer-item p.item-para a {
		font-size: 22px;
	}
	
	.blog-header a {
		font-size: 19px;
	}
	
	.blog-body {
		font-size: 17px;
	}
	
	.main-footer-item3{
		width:95%;
		margin-top:50px;
	}
	
	ul.option-divider {
		width: 30%;
	}
	
	ul.option-divider#option-divider2 {
		margin-left: 5%;
	}
	
	.option-divider a {
		font-size: 18px;
	}
		
} 










